* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    background-color: #1f2937;
}

header div {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
    margin: auto;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li:first-of-type {
    margin-left: 0;
}

header li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

header img {
    max-width: 64px;
}

.hero {
    background-color: #1f2937;
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero .content-img {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero .content-img .content {
    max-width: 675px;
}

.hero .content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero .content p:first-of-type {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .content-img img {
    max-width: 675px;
}

#information {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
}

#information .content {
    max-width: 1400px;
}

#information h2 {
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    margin-bottom: 32px;
}

#information img {
    height: 128px;
    width: 128px;
}

#information .content-illustration {
    display: flex;
    justify-content: center;
}

#information .illustration {
    margin-right: 48px;
}

#information .illustration:nth-last-of-type {
    margin-right: 0px;
}

/* #information .illustration img {
    margin-bottom: 10px;
} */

#information .illustration p {
    text-align: center;
    color: #1f2937;
}